//////////////////////////////////
// POSITIONING
//////////////////////////////////

@mixin pseudo {
	display: block;
	content: "";
}

@mixin absolute-expand {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	height: 100%;
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absolute-vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin absolute-horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

//////////////////////////////////
// ACCESSIBILITY
//////////////////////////////////

@mixin visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

//////////////////////////////////
// TYPOGRAPHY
//////////////////////////////////

@mixin body-text {
	font-family: $body-font;
	font-weight: $body-weight;
}

@mixin title-text {
  font-family: $title-font;
	font-size: $font-size-xxl;
	line-height: 1;
}

@mixin subhead-text {
	font-family: $subhead-font;
	font-weight: $subhead-weight;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: $cyan-light;
}

@mixin heading-text {
  font-weight: $title-weight;
	margin-bottom: $sp-md;
}

@mixin font-xxl {
  font-size: $font-size-xxl;
	line-height: 2rem;
}

@mixin font-xl {
  font-size: $font-size-xl;
	line-height: 1.5rem;
}

@mixin font-lg {
  font-size: $font-size-lg;
	line-height: 1.5rem;
}

@mixin font-md {
  font-size: $font-size-md;
	line-height: 1.25rem;
}

@mixin font-sm {
  font-size: $font-size-sm;
	line-height: 1rem;
}

//////////////////////////////////
// EFFECTS
//////////////////////////////////

@mixin box-shadow($shadow: rgba($black, 0.75)) {
	box-shadow: 0 1px 12px #{$shadow};
}
@mixin text-shadow-lg($shadow: $black) {
	text-shadow: 0 3px 52px #{$shadow};
}
@mixin scale-on-hover($amount: 1.0333) {
	transition: 0.15s ease-out transform, 0.2s ease-out color;
	will-change: transform;

	&:hover, &:focus {
		transform: scale(#{$amount});
	}
}
@mixin link-underline {
	color: $cyan-white;
	text-decoration-color: $sun-light;
	text-underline-offset: 0.25em;
	transition: 0.2s ease-out;

	&:hover,
	&:focus {
		color: $white;
	}
}