.wrapper {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: $sp-md;
	padding-right: $sp-md;

  @media (min-width: 900px) {
    padding-left: $sp-xl;
    padding-right: $sp-xl;
  }

	& > :first-child {
		z-index: 1;
	}
}